@media only screen and (max-width: 1024px) and (min-width: 400px) {
    :root {
        --big-font-size: 7.2rem;
        --medium-font-size: 3.8rem;
        --desc-font-size: 2.9rem;
    }

    /*------Header------*/
    .main .header .header__navigation {
        padding-left: 0;
        height: 80px !important;
        position: relative;
        justify-content: space-between;
    }

    .main .header__navigation .header__navigation--list {
        position: absolute;
        top: 79px;
        width: 100%;
        max-height: 340px !important;
        background-color: var(--dark-blue);

        display: none;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main .header__navigation .header__navigation--logo {
        padding-left: 20px;
        line-height: 50px;
    }

    .main .header__navigation--list .header__navigation--item {
        width: 100%;
    }

    .main .header__navigation .header__navigation--list a {
        display: block;
        width: 100%;
        line-height: 50px;
        border-radius: 0;
        padding: 12px 0;
        padding-left: 10px;
    }

    .main .header__navigation .header__navigation--menu {
        display: block !important;
    }


    .main .header__navigation .header__navigation--menu {
        align-self: center;
        padding: 0 20px;
    }

    .main .header__navigation .header__navigation--menu>img {
        width: 3.8rem;
        cursor: pointer;
    }

    .main .header__navigation .header__navigation--logo,
    .main .header__navigation .header__navigation--list a {
        font-size: 2.8rem;
    }


    /*------Container------*/
    /*------1. Home------*/
    .down-btn {
        display: none !important;
    }


    .main .container {
        padding-top: 80px !important;
        min-height: 48vw;
    }

    .main .container #home {
        padding-top: 100px;
        padding-bottom: 0;
    }

    .container #home>div {
        display: block;
        width: 100%;
    }

    .main .container #home .home__content--main-cont {
        font-size: 6.6rem;
    }

    .main .container #home .home__content--desc-cont {
        font-size: 2.6rem;
    }

    .main .container #home .home__image {
        padding: 40px 0;
    }

    .main .container #home .home__button .home__button--guide {
        display: none;
    }

    /*------2. Meeting Location------*/
    .main .container #meeting-location {
        padding-left: 12vw;
        padding-right: 12vw;
    }

    .main .container .container__item {
        display: block !important;
        text-align: center;
        padding: 50px 60px 0;
    }

    .main .container #meeting-location .grid>div,
    .main .container #meeting-location .grid .grid-left__image,
    .main .container #meeting-location .grid .hover-space {
        width: 100% !important;
    }

    .main .container #meeting-location .grid .hover-space .hover-space__content {
        left: 0;
        right: 0;
        top: 70%;
    }

    .main .container #meeting-location .grid .hover-space .hover-space__content .title {
        font-size: 2.6rem;
    }

    .main .container #meeting-location .grid .hover-space .hover-space__content .desc {
        font-size: 2.4rem;
    }

    .main .container #meeting-location .grid-left__content--title>h2 {
        font-size: 3.6rem;
    }

    .main .container #meeting-location .grid-left__content--sub>a {
        font-size: 2.65rem;
        font-weight: 500;
    }

    /*------3. Connect------*/
    .main .container #connect .connect__image,
    .main .container #connect .connect__content {
        width: 100%;
    }

    .main .container #connect .connect__content>.desc {
        font-size: 2.4rem;
    }

    .main .container #connect .connect__content--btn {
        display: flex;
        justify-content: space-around;
    }

    .main .container #connect .connect__content--btn__wrapper>a {
        font-size: var(--desc-font-size);
        display: block;
        padding: 20px 30px;
    }

    /*------4. Register------*/
    .main .container #register .register__image {
        display: none;
    }

    .main .container #register .register__container {
        margin-right: 0;
        padding: 0 20px;
        width: 100%;
    }

    .main .container #register .register__container--regis-btn>a {
        font-size: var(--desc-font-size);
        display: inline-block;
        padding: 20px 30px;
    }

    /*------Footer------*/
    .main .footer {
        min-height: 100px;
    }

    .main .footer {
        padding-top: 40px;
        margin-top: -30px;
    }

    /*------Device notification------*/
    .main .device-notif {
        transform: scale(1)!important;
        display: block;
        position: fixed;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .main .device-notif-block {
        position: absolute;
        z-index: 11;
        width: 85vw;
        height: auto;
        padding: 5vw 12vw;
        border-radius: 20px;
        background-color: #112b44;
        margin: 7.5vw;
        top: 20vh;
    }

    .main .device-notif-block__title,
    .main .device-notif-block__desc>p,
    .main .device-notif-block__btn>a {
        font-size: 3.4rem;
        color: #e8e8e8;
        line-height: 45px;
    }

    .main .device-notif-block__title {
        font-size: 3rem;
    }

    .main .device-notif-block__desc {
        padding: 1rem 0 2rem;
    }

    .main .device-notif-block__desc>p {
        font-weight: 100;
    }

    .main .device-notif-block__btn {
        text-align: center;
    }

    .main .device-notif-block__btn>a {
        display: block;
        color: rgb(45, 45, 45);
        margin: 1rem 0;
        background-color: #e3ffb8;
        padding: 2rem;
        border-radius: 5px;
        transition: transform ease 0.3s;
    }

    .main .device-notif-block__btn > a:hover {
        background-color: var(--light-green);
        transform: scale(1.1);
    }

    .main .device-notif-block__icon {
        position: absolute;
        top: 4.5rem;
        left: 3.5rem;
    }

    .main .device-notif-block__icon>i {
        font-size: 5rem;
        color: #e3ffb8;
        padding: 10px;
    }

    .main .device-notif-block__close-icon {
        position: absolute;
        right: 4rem;
        top: 4rem;
        padding: 10px;
    }

    .main .device-notif-block__close-icon>i {
        font-size: 4rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.2);
    }
}